<div class="wrapper">
  <div class="calendar">
    <!-- header -->
    <app-header
      [month]="month"
      [year]="year"
      [prevMonthHandler]="prevMonthHandler.bind(this)"
      [nextMonthHandler]="nextMonthHandler.bind(this)"
    ></app-header>

    <!-- week -->
    <app-week [week]="week"></app-week>

    <!-- days -->
    <app-days
      [prevMonthDays]="prevMonthDays"
      [monthDays]="monthDays"
      [nextMonthDays]="nextMonthDays"
    ></app-days>
  </div>
</div>
